.array-container {
  position: absolute;
  height: 50vh;
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.array-bar-pink {
  width: 2px;
  background-color: pink;
  display: inline-block;
  margin: 0 1px;
}

.array-bar-blue {
  width: 2px;
  background-color: blue;
  display: inline-block;
  margin: 0 1px;
}

#root {
  background: black;
  margin-bottom: 5%;
}

.button-centre {
  margin: 10px 10px 10px 10px;
  position: relative;
  left: 50%;
}